.booksContainer {
  background-color: #f5f6fa;
  padding-top: 6.313rem;
  padding-bottom: 14.313rem;
}

.booksSection {
  margin: 0 2.375rem;
  max-width: 87.5rem;
  min-height: 54.563rem;
  background-color: #fafafa;
  box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.05);
  border: 1px solid #fff;
  padding-bottom: 10rem;
}

.borderLine {
  margin: 0 2.9rem;
  margin-top: 2.313rem;
  height: 0;
  max-width: 85rem;
}
