.booksContainer {
  padding-top: 2.313rem;
  padding-bottom: 14.313rem;
  width: 100%;
}

.booksSection {
  margin: 0 2.375rem;
  max-width: 87.5rem;
  min-height: 54.563rem;
  background-color: #fafafa;
  box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.05);
  border: 1px solid #fff;
  padding-bottom: 10rem;
}

.borderLine {
  margin: 0 2.9rem;
  margin-top: 2.313rem;
  height: 0;
  max-width: 85rem;
}

@media screen and (max-width: 767px) {
  .booksContainer {
    padding-bottom: 6.563rem;
  }

  .booksSection {
    margin: 0 1.5rem;
    min-height: 40rem;
  }

  .borderLine {
    margin: 0 1.5rem;
  }
}
