*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 25px;
}

.navbar-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-items {
  display: flex;
  list-style: none;
  gap: 25px;
}

.booklist {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.bookitems {
  list-style: none;
}

.form {
  margin-top: 20px;
}
